include ../../template_files/jade/widgets/elements
include ../../template_files/jade/widgets/segments
include ../../template_files/jade/widgets/media
include ../../template_files/jade/widgets/forms
include ../../template_files/jade/widgets/responsive
include ../../template_files/jade/widgets/mobile
include header
include footer
