include ../../template_files/pug/widgets/elements
include ../../template_files/pug/widgets/segments
include ../../template_files/pug/widgets/media
include ../../template_files/pug/widgets/forms
include ../../template_files/pug/widgets/responsive
include ../../template_files/pug/widgets/mobile
include header
include footer
