include ../../template_files/pug/elements
include ../../template_files/pug/segments
include ../../template_files/pug/media
include ../../template_files/pug/forms
include ../../template_files/pug/responsive
include ../../template_files/pug/mobile
include header
include footer
