include ../../template_files/jade/widgets/elements
ul
	li: a.logo(href="/") TheSite
	li: +link("/", "Home")
	li: +link("page2", "Page 2")
	li: +link("usage", "Usage")
	li.right
		+search('search-results')