@import '../template_files/stylus/imports'
@import 'nib'

// Declare all fonts first
fonts(open-sans)
fonts(play)
fonts(blockletter)
iconfont()
// Now declare global reset and all dependencies: base, headings, forms, etc
global-reset()
base()
headings()
forms()
forms-segments()
widgets()
mobile()
segments()
responsive-segments()
demo()

// edit()

body, *
	font-family: open-sans
h1
h2
h3
h4
h5
h6
	font-family: open-sans

#contain
	position: relative
	margin: 0 auto
	max-width: lg
	min-height: 600px
	background-color: #FFF
	font-family: Play !important
	font-weight: normal

// nav ul
// 	height: 10px
// 	display: flex
// 	flex-direction: row
// 	flex-wrap: nowrap
// 	align-items: center

// Begin your custom styles here!
