mixin image(w,h,alignment)
	- var a;
	- if (h === undefined) {
		- h = w;
	- }
	- if (alignment === 'center') {
		- a = "; margin: 0 auto";
	- } 
	- else if (alignment === 'left') {
		- a = "; float: left; padding-right: 10px; padding-bottom: 5px";
	- }
	- else if (alignment === 'right') {
		- a = "; float: right; padding-left: 10px; padding-bottom: 5px";
	- }
	- else {
		- a = "";
	- }
	- if (w === '100%' && h) {
		div(style="width: "+ w +"; height: "+ h +"px"+ a)
			div.image-widget
				.image-border
	- }
	- else if (w && h === '100%') {
		div(style="width: "+ w +"px; height: "+ h +a)
			div.image-widget
				.image-border
	- }
	- else if (w && h) {
		div(style="width: "+ w +"px; height: "+ h +"px"+a)
			div.image-widget
				.image-border
	- }
	- else {
		div.image-widget
			.image-border
	- }

mixin image2(w,h,alignment)
	- var a;
	- if (h === undefined) {
		- h = w;
	- }
	- if (alignment === 'center') {
		- a = "; margin: 0 auto";
	- } 
	- else {
		- a = "";
	- }
	- if (w === '100%' && h) {
		div(style="width: "+ w +"; height: "+ h +"px"+a)
			div.dimage.image-widget
				.image-border
	- }
	- else if (w && h === '100%') {
		div(style="width: "+ w +"px; height: "+ h +a)
			div.dimage.image-widget
				.image-border
	- }
	- else if (w && h) {
		div(style="width: "+ w +"px; height: "+ h +"px"+a)
			div.dimage.image-widget
				.image-border
	- }
	- else {
		div.dimage.image-widget
			.image-border
	- }

mixin chart(w,h,alignment)
	- var a;
	- if (h === undefined) {
		- h = w;
	- }
	- if (alignment === 'center') {
		- a = "; margin: 0 auto";
	- } 
	- else if (alignment === 'left') {
		- a = "; float: left; padding-right: 10px; padding-bottom: 5px";
	- }
	- else if (alignment === 'right') {
		- a = "; float: right; padding-left: 10px; padding-bottom: 5px";
	- }
	- else {
		- a = "";
	- }
	- if (w === '100%' && h) {
		div(style="width: "+ w +"; height: "+ h +"px"+ a)
			div.chart.image-widget
				.image-border
	- }
	- else if (w && h === '100%') {
		div(style="width: "+ w +"px; height: "+ h +a)
			div.chart.image-widget
				.image-border
	- }
	- else if (w && h) {
		div(style="width: "+ w +"px; height: "+ h +"px"+a)
			div.chart.image-widget
				.image-border
	- }
	- else {
		div.chart.image-widget
			.image-border
	- }

mixin porthole(size,alignment)
	- var a;
	- if (alignment === 'left') {
		- a = "; float: left";
	- } 
	- else if (alignment === 'center') {
		- a = "; margin: 0 auto";
	- } 
	- else if (alignment === 'right') {
		- a = "; float: right";
	- } 
	- else {
		- a = "";
	- }
	- if (size) {
		div.porthole(style="width: "+ size +"px; height: "+ size +"px"+a)
			div.image-widget
	- }
	- else {
		div.porthole
			div.image-widget
	- }

mixin porthole2(w,h,alignment)
	- var a;
	- if (alignment === 'left') {
		- a = "; float: left";
	- } 
	- else if (alignment === 'center') {
		- a = "; margin: 0 auto";
	- } 
	- else if (alignment === 'right') {
		- a = "; float: right";
	- } 
	- else {
		- a = "";
	- }
	- if (w === '100%' && h) {
		div.porthole(style="width: "+ w +"px; height: "+ h +"px"+a)
			div.dimage.image-widget
	- }
	- else if (w && h === '100%') {
		div.porthole(style="width: "+ w +"px; height: "+ h +"px"+a)
			div.dimage.image-widget
	- }
	- else if (w && h) {
		div.porthole(style="width: "+ w +"px; height: "+ h +"px"+a)
			div.dimage.image-widget
	- }
	- else {
		div.porthole
			div.dimage.image-widget
	- }

mixin profile(w,h,alignment)
	- var a;
	- if (h === undefined) {
		- h = w;
	- }
	- if (alignment === 'center') {
		- a = "; margin: 0 auto";
	- } 
	- else if (alignment === 'left') {
		- a = "; float: left; padding-right: 10px; padding-bottom: 5px";
	- }
	- else if (alignment === 'right') {
		- a = "; float: right; padding-left: 10px; padding-bottom: 5px";
	- }
	- else {
		- a = "";
	- }
	- if (w === '100%' && h) {
		div(style="width: "+ w +"; height: "+ h +"px"+ a)
			div.profile.image-widget
				.image-border
	- }
	- else if (w && h === '100%') {
		div(style="width: "+ w +"px; height: "+ h +a)
			div.profile.image-widget
				.image-border
	- }
	- else if (w && h) {
		div(style="width: "+ w +"px; height: "+ h +"px"+a)
			div.profile.image-widget
				.image-border
	- }
	- else {
		div.profile.image-widget
			.image-border
	- }

mixin profile-porthole(size,alignment)
	- var a;
	- if (alignment === 'left') {
		- a = "; float: left";
	- } 
	- else if (alignment === 'center') {
		- a = "; margin: 0 auto";
	- } 
	- else if (alignment === 'right') {
		- a = "; float: right";
	- } 
	- else {
		- a = "";
	- }
	- if (size) {
		div.porthole(style="width: "+ size +"px; height: "+ size +"px"+a)
			div.profile.image-widget
	- }
	- else {
		div.porthole
			div.profile.image-widget
	- }

mixin video(w,h,alignment)
	- var a;
	- if (h === undefined) {
		- h = w;
	- }
	- if (alignment === 'left') {
		- a = "; float: left";
	- } 
	- else if (alignment === 'center') {
		- a = "; margin: 0 auto";
	- } 
	- else if (alignment === 'right') {
		- a = "; float: right";
	- } 
	- else {
		- a = "";
	- }
	- if (w === '100%' && h) {
		div(style="width: "+ w +"; height: "+ h +"px"+ a)
			div.video-widget
				.image-border
	- }
	- else if (w && h === '100%') {
		div(style="width: "+ w +"px; height: "+ h +a)
			div.video-widget
				.image-border
	- }
	- else if (w && h) {
		div(style="width: "+ w +"px; height: "+ h +"px"+a)
			div.video-widget
				.image-border
	- }
	- else {
		div.video-widget
			.image-border
	- }

mixin slideshow(w,h,alignment)
	- var a;
	- if (h === undefined) {
		- h = w;
	- }
	- if (alignment === 'center') {
		- a = "; margin: 0 auto";
	- } 
	- else {
		- a = "";
	- }
	- if (w === '100%' && h) {
		div(style="width: "+ w +"px; height: "+ h +"px"+a)
			.slideshow-widget
				.image-widget
					.image-border
						.icon-arrow-left
						.icon-arrow-right
						.icon-progress
	- }
	- else if (w && h === '100%') {
		div(style="width: "+ w +"px; height: "+ h +a)
			.slideshow-widget
				.image-widget
					.image-border
						.icon-arrow-left
						.icon-arrow-right
						.icon-progress
	- }
	- else if (w && h) {
		div(style="width: "+ w +"px; height: "+ h +"px"+a)
			.slideshow-widget
				.image-widget
					.image-border
						.icon-arrow-left
						.icon-arrow-right
						.icon-progress
	- }
	- else {
		.slideshow-widget
			.image-widget
				.image-border
					.icon-arrow-left
					.icon-arrow-right
					.icon-progress
	- }

mixin slideshow2(w,h,alignment)
	- var a;
	- if (h === undefined) {
		- h = w;
	- }
	- if (alignment === 'center') {
		- a = "; margin: 0 auto";
	- } 
	- else {
		- a = "";
	- }
	- if (w === '100%' && h) {
		div(style="width: "+ w +"px; height: "+ h +"px"+a)
			.slideshow-widget
				.dimage.image-widget
					.image-border
						.icon-arrow-left
						.icon-arrow-right
						.icon-progress
	- }
	- else if (w && h === '100%') {
		div(style="width: "+ w +"px; height: "+ h +a)
			.slideshow-widget
				.dimage.image-widget
					.image-border
						.icon-arrow-left
						.icon-arrow-right
						.icon-progress
	- }
	- else if (w && h) {
		div(style="width: "+ w +"px; height: "+ h +"px"+a)
			.slideshow-widget
				.dimage.image-widget
					.image-border
						.icon-arrow-left
						.icon-arrow-right
						.icon-progress
	- }
	- else {
		.slideshow-widget
			.dimage.image-widget
				.image-border
					.icon-arrow-left
					.icon-arrow-right
					.icon-progress
	- }