extend default
block content
	+panel('light')
		+break({lg : 'fifths', md : 'half', sm : 'stack'})
			hello
			article
				h1 First One
				p
					+blockletter(45)
				p
					+modal('Learn More')
						h3 Learn More
						p
							+blockletter(50)
						form.wrap
							section.columns-2
								article
									+input('First Name')
								article
									+input('Last Name')
							+input('Email')
							+textarea('Message')
							+submit('Submit','right')
			aside
				+slideshow(380,235,'right')
	+panel('dark')
		+column-loop(4)
			article
				+porthole(120,'center')
				p.center-align
					+blockletter(15)
	+panel('light')
		+break({lg : 'thirds', md : 'half', sm : 'stack'})
			aside
				+image2('100%',180)
			article
				h2 Next Product
				p
					+blockletter(40)
				+modal('Another Modal', 'right')
					h3 Another Modal
					p
						+blockletter(800)
	+panel('footer')
		+tabs(['First','Second','Third'])
			+tab()
				h3 First Tab
				p
					+blockletter(45)
			+tab()
				h3 Second Tab
				ol
					- var i = 0;
					+loop(4)
						li= titles[i++] + " Item"
			+tab()
				h3 Third Tab
				+column-loop(5)
					article
						+image('100%',100)
						p
							+rating(3, 5)