extend __core__/default
block content
	+panel('light')
		+tabs(['iPhone', 'Android'])
			+tab()
				section.half
					article
						h2.center-justify iPhone 5
						+iphone('5')
							+ios-header
							+ios-main
								form#login5.wrap
									+input('Username', 'required')
									+password('Password', 'required')
									+submit('Login', 'extend')
								h4 Details
								p: +blockletter(50)
								p: +blockletter(10)
							+ios-tray

					article
						h2.center-justify iPhone 6
						+iphone('6')
							+ios-header
							+ios-main
								form#login6.wrap
									+input('Username', 'required')
									+password('Password', 'required')
									+submit('Login', 'extend')
								h4 Details
								p: +blockletter(50)
							+ios-tray

				hr
				section.half
					article
						h2.center-justify iPhone 6 Plus
						+iphone('6+')
							+ios-header
							+ios-main
								form#login5.wrap
									+input('Username', 'required')
									+password('Password', 'required')
									+submit('Login', 'extend')
							+ios-tray

			+tab()
				h2 Coming Soon!

block script
	script.
		magicVial('form#login5', "Sorry, please fix the errors below.");
		magicVial('form#login6', "Sorry, please fix the errors below.");