extend __core__/default
block content
	+panel('light')
		- var n = 0
		+loop(5)
			section.thirds.wrap
				aside
					+image2('100%',200)
					p.right-justify: +blockletter(4)
					p.right-justify: +blockletter(2)
				article
					h3= titles[n++] + " Blog Title"
					p: +blockletter(30)
					section.thirds
						aside
							section.columns-4
								+loop(4)
									article: +image(40,40)
						article
							p.right: button Read More
		div.right
			+pagination()