

// Custom Colors
//======================================
logoColor = #3d3d3d
baseColor = #fff
primaryColor = #6b6b6b // #355c73
secondaryColor = #3d3d3d // #3d3d3d
tertiaryColor = #6b6b6b // #6b6b6b

textDark = #b6b6b6
textLight = textDark

backgroundMediumLight = #e4e4e4
backgroundDark = #838383
//======================================

lg = 1024px // width of site
md = 960px
tablet = 768px
sm = 640px
xs = 320px

textLightOnDark = lightness(primaryColor, 86.5%)
imageBgLight = lightness(secondaryColor, 86.5%) // #ddd
imageBgMedium = lightness(secondaryColor, 82.5%) // #d2d2d2
imageAccents = lightness(secondaryColor, 93.7%) // #efefef
tabColor = lightness(primaryColor, 62.7%) // #a0a0a0
btnHoverColor = lightness(primaryColor, 30.5%) // #4e4e4e
// buttons = #6b6b6b


buttonBg = tertiaryColor
buttonColor = #EFEFEF // 84f1ff 86E4F0
buttonHoverColor = #84f1ff
buttonHoverBg = #3F3F3F

buttonBgDark = #4E4E4E
buttonColorDark = #CCC
buttonHoverBgDark = #222
buttonHoverColorDark = #84f1ff

// lightness(primary, 87%)
// lightness(primary, 86.5%)
// darken(secondary, 77%)
// darken(secondary, 20%)
