

// Custom Colors
//======================================
logoColor = #3d3d3d
primary = #6b6b6b // #6b6b6b
secondary = #3d3d3d // #3d3d3d
tertiary = #6b6b6b // #6b6b6b

textDark = #b6b6b6
textLight = textDark

backgroundLight = #fff // #fff
backgroundMediumLight = #e4e4e4
backgroundDark = #838383
//======================================


large = 1024px // width of site
tablet = 768px
medium = 640px
small = 320px

textLightOnDark = lightness(primary, 86.5%)
imageBgLight = lightness(secondary, 86.5%) // #ddd
imageBgMedium = lightness(secondary, 82.5%) // #d2d2d2
imageAccents = lightness(secondary, 93.7%) // #efefef
tabColor = lightness(primary, 62.7%) // #a0a0a0
btnHoverColor = lightness(primary, 30.5%) // #4e4e4e
// buttons = #6b6b6b


buttonBg = tertiary
buttonColor = #EFEFEF // 84f1ff 86E4F0
buttonHoverColor = #84f1ff
buttonHoverBg = #3F3F3F

buttonBgDark = #4E4E4E
buttonColorDark = #CCC
buttonHoverBgDark = #222
buttonHoverColorDark = #84f1ff

// lightness(primary, 87%)
// lightness(primary, 86.5%)
// darken(secondary, 77%)
// darken(secondary, 20%)